:root {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {  
    display: flex; 
    flex-direction: column; 
    height: 100vh;
    width: calc(100vw - (100vw - 100%));
    background-color: #233343;
    color: #e5e5e5;
    margin: 0;
    padding: 0;
  }

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 25px;
    height: 100%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

.fa-search {
    background: transparent;
    color: black;
    border: none;
    outline: none;
    margin-left: -30px;
}

#search-btn {
    margin-left: 10px;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 25px;
}

.location {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location > p {
    margin: 0;
    padding: 5px;
    font-weight: 700;
}

.conditions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin-bottom: 5px;
}

.conditions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 30px;
} 


.temp {
    margin-top: 15px;
    font-size: 36px;
    font-weight: 600;
}

.condition > * {
    margin: 0px;
}

.condition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

button {
    background-color: #2185d0;
    color: #e5e5e5;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 12px;
}

button:hover {
    background-color: #175b8e;
}

button:active {
    transform: translateY(2px);
}

img {
    width: 100px;
    height: 100px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 15px;
    margin-top: auto;
    padding: 10px
}

.fa-github {
    color: black;
    font-size: 24px;
}